<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear />
        <add name="LogFile"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="Trace.log"
             traceOutputOptions="Callstack" />
      </listeners>
    </trace>
    <sources>
      <source name="System.ComponentModel.Composition"
              switchValue="All">
        <listeners>
          <add name="CompositionLog"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="Composition.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
